.filter {
    background-color: #47646f;
    width: 30%;
    height: 100%;
    float: left;
    min-width: 350px;
}

.filter-item {
    border: 2px solid #1e383c;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 0px;
}

.sliderArea {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  margin-right: 5px;
}

.sliderAreaAge {
  width: 80%;
  margin: 0 auto;
}

.filter-emotion {
  display: flex;
  padding: 5px 10px;
}

.filter-checkboxes {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.filter-column {
  margin: 0 10px;
  text-align: left;
  min-width: 7em;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #1e383c;
    background-color: #c3ccd3;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #1e383c;
    border-bottom: 4px solid #1e383c;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
