.site-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    height: 5vh;
    background-color: #1e383c;
}

.navigate {

}

button {
    background-color: #8ea6b2;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
}

.selected {
    background-color: #7d939e;
}

.logo-img {
  height: 60px;
}
